table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #c4c4c4;
    padding: 8px;
}

table tr:nth-child(even){background-color: #e6e6e6;}

.subheaders > * {
    background-color: white;
}