@import url("/public/static/css/components.css");
@import url("/public/static/css/pages/leaderboard.css");

:root {
    --color: #458fb9;

    --red: rgb(241, 212, 212);
    --darkred: rgb(138, 44, 44);

    --yellow: rgb(241, 236, 212);

    --blue: rgb(212, 220, 241);
    --darkblue: rgb(29, 52, 110);

    --green: rgb(212, 241, 214);
    --darkgreen: rgb(17, 85, 22);

    --purple: rgb(236, 212, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.toast {
    padding: 10px 20px;
    border: 1px solid #00000041;
}

.toast.error {
    background-color: var(--red);
}

.toast.success {
    background-color: var(--green);
}

.scroll {
    height: 300px;
}