@import url("/public/static/css/components.css");

:root {
    --color: #458fb9;

    --red: rgb(194, 60, 60);
    --yellow: rgb(194, 169, 60);
    --blue: rgb(60, 96, 194);
    --green: rgb(64, 194, 60);
    --purple: rgb(129, 60, 194);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}