/* navigation */

nav.teams-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 1300px;
    max-width: 100%;
    align-self: center;
    justify-content: space-between;
}

nav.teams-nav ul {
    display: flex;
    gap: 10px;
    padding-block: 10px;
}

nav.teams-nav ul > button {
    padding-inline: 10px;
    cursor: pointer;
    background-color: var(--green);
    border: 1px solid var(--darkgreen);
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    padding: 10px;
}

nav.teams-nav > form {
    padding-block: 10px;
}

nav.teams-nav > form button {
    padding-inline: 10px;
    cursor: pointer;
    background-color: var(--darkblue);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    height: 100%;
}

nav.teams-nav > form button img {
    filter: invert(1);
}

nav.teams-nav li {
    list-style: none;
    display: flex;
}

nav.teams-nav li a {
    padding: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
}
nav.teams-nav li a:hover {
    background-color: rgb(202, 202, 202);
}
nav.teams-nav li a.active {
    background-color: gray;
    color: white;
}

nav.teams-nav li button {
    padding-inline: 2px;
    background-color: var(--darkred);
    border: none;
    cursor: pointer;
}
nav.teams-nav li button:hover {
    opacity: .7;
}

nav.teams-nav li button .icon {
    filter: invert(1);
}

/* popups */

#popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#popup-container > .popup-bg {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004f;
    position: absolute;
    z-index: 1;
}

#popup-container > .popup-block {
    display: none;
    flex-direction: column;
    width: 450px;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
    z-index: 2;
}

#popup-container > .popup-block .popup-header {
    display: flex;
    justify-content: space-between;
}

#popup-container > .popup-block .popup-header button {
    border: none;
    background: none;
}

#popup-container > .popup-block form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#popup-container > .popup-block form input, #popup-container > .popup-block form select {
    padding: 10px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;
}

#popup-container > .popup-block form input[name="add_team"] {
    background-color: var(--green);
}

#popup-container > .popup-block form input[name="remove_team"] {
    background-color: var(--red);
}

/* other */

hr {
    margin-bottom: 10px;
}

.notfound {
    text-align: center;
    align-self: center;
}
