.container {
    max-width: 1200px;
    margin: 30px auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 12px;
}

.container-header > button {
    border: none;
    padding: 10px;
    background-color: var(--red);
    color: var(--darkred);
    cursor: pointer;
    font-size: 16px;
}

.init-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    background: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 20px;
    flex: 1;
    min-width: 280px;
}
.card h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #000;
}
.field-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.field-row .field-group {
    flex: 1;
}
.field-group {
    margin-bottom: 15px;
}
.field-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
.field-group input[type="text"],
.field-group input[type="number"],
.field-group select,
.field-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1em;
}
.field-group input[type="text"]:focus,
.field-group input[type="number"]:focus,
.field-group select:focus,
.field-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.static-field {
    padding: 10px;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    background-color: #ebebeb;
    color: #000;
    font-size: 1em;
    text-align: center;
}
.chips-container {
    margin-bottom: 10px;
}
.chip {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0;
    margin: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
}
.chip:hover {
    background-color: #525252;
}
.submit-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ebebeb;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid rgb(189, 189, 189);
}

.submit-btn:hover {
    border: 1px solid gray;
}

@media (max-width: 768px) {
    .dashboard-header .header-content {
        flex-direction: column;
        gap: 10px;
    }
    .card-container {
        flex-direction: column;
    }
    .field-row {
        flex-direction: column;
    }
}